In [1]:
import geopandas as gpd

In [24]:
import pandas as pd
import glob

In [29]:
columns = ['id','tweet_created_at_int','lat','lon']

In [30]:
df = pd.read_csv("../../../data/processed/joined/usa_tweets_2010_chunk_4.csv")[columns]

In [31]:
df.head()

            id  tweet_created_at_int        lat        lon
0  24511041400         1284500404000  38.936913 -76.976351
1  24511043008         1284500405000  39.415549 -75.636149
2  24535687203         1284520294000  39.415453 -75.636665
3  24596274400         1284578064000  39.415754 -75.635065
4  24602000107         1284583323000  39.415604 -75.635853

In [32]:
df['utc_datetime'] = pd.to_datetime(df['tweet_created_at_int'], unit='ms', utc=True)

In [33]:
df['yyyymmdd'] = df['utc_datetime'].dt.strftime('%Y%m%d')
df['hour'] = df['utc_datetime'].dt.strftime('%H')

In [34]:
df

,id,tweet_created_at_int,lat,lon,utc_datetime,yyyymmdd,hour
0,24511041400,1284500404000,38.936913,-76.976351,2010-09-14 21:40:04+00:00,20100914,21
1,24511043008,1284500405000,39.415549,-75.636149,2010-09-14 21:40:05+00:00,20100914,21
2,24535687203,1284520294000,39.415453,-75.636665,2010-09-15 03:11:34+00:00,20100915,03
3,24596274400,1284578064000,39.415754,-75.635065,2010-09-15 19:14:24+00:00,20100915,19
4,24602000107,1284583323000,39.415604,-75.635853,2010-09-15 20:42:03+00:00,20100915,20
...,...,...,...,...,...,...,...
921820,8943497709101057,1290967270000,42.489924,-71.153898,2010-11-28 18:01:10+00:00,20101128,18
921821,8943560917254144,1290967285000,35.136893,-79.017453,2010-11-28 18:01:25+00:00,20101128,18
921822,8944122983358464,1290967419000,33.252308,-84.244750,2010-11-28 18:03:39+00:00,20101128,18
921823,8944139387273217,1290967423000,43.690885,-70.228500,2010-11-28 18:03:43+00:00,20101128,18
921824,8944429033328641,1290967492000,43.286225,-76.127162,2010-11-28 18:04:52+00:00,20101128,18

In [17]:
!pip uninstall us -y

Found existing installation: us 3.1.1
Uninstalling us-3.1.1:
  Successfully uninstalled us-3.1.1

In [18]:
!wget https://www.weather.gov/source/gis/Shapefiles/County/c_05mr24.zip

--2024-03-09 11:47:05--  https://www.weather.gov/source/gis/Shapefiles/County/c_05mr24.zip
Resolving www.weather.gov (www.weather.gov)... 23.46.188.16, 2600:1408:7:19f::116, 2600:1408:7:19d::116
Connecting to www.weather.gov (www.weather.gov)|23.46.188.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19159146 (18M) [application/zip]
Saving to: â€˜c_05mr24.zipâ€™

100%[======================================>] 19,159,146  25.6MB/s   in 0.7s

2024-03-09 11:47:06 (25.6 MB/s) - â€˜c_05mr24.zipâ€™ saved [19159146/19159146]

In [ ]:
import pandas as pd

def process_csv(file_path):
    # Read the CSV file
    
    columns = ['id','tweet_created_at_int','lat','lon']
    df = pd.read_csv(file_path)[columns]
    # Assuming there's a Unix timestamp column named 'unix_timestamp'
    # Convert Unix timestamp to UTC datetime
    df['utc_datetime'] = pd.to_datetime(df['tweet_created_at_int'], unit='ms', utc=True)
    
    # Extract 'yyyymmdd' and 'hour'
    df['yyyymmdd'] = df['utc_datetime'].dt.strftime('%Y%m%d')
    df['hour'] = df['utc_datetime'].dt.hour
    
    # Select and rename columns as needed
    return df[columns+['yyyymmdd', 'hour']]  # Adjust 'your_columns_here' to match your data

def append_and_save(csv_files):
    appended_df = pd.DataFrame()
    
    # Process each file and append to the DataFrame
    for file in csv_files:
        processed_df = process_csv(file)
        print(file)
        appended_df = pd.concat([appended_df, processed_df], ignore_index=True)
    
    # Group by 'yyyymmdd' and save each group into a separate CSV
    for yyyymmdd, group in appended_df.groupby('yyyymmdd'):
        filename = f'../../../data/processed/pre_weather/id_utc_{yyyymmdd}.csv'
        group.to_csv(filename, index=False)
        print(f'Saved: {filename}')

# List of CSV file paths
csv_files = glob.glob("../../../data/processed/joined/*.csv")  # Update with your actual file paths

# Process and save
append_and_save(csv_files)

../../../data/processed/joined/usa_tweets_2014_a_chunk_20.csv
../../../data/processed/joined/usa_tweets_2015_chunk_13.csv
../../../data/processed/joined/usa_tweets_2014_b_chunk_7.csv
../../../data/processed/joined/usa_tweets_2014_a_chunk_5.csv
../../../data/processed/joined/usa_tweets_2015_chunk_9.csv
../../../data/processed/joined/usa_tweets_2014_c_chunk_12.csv
../../../data/processed/joined/usa_tweets_2014_b_chunk_11.csv
../../../data/processed/joined/usa_tweets_2011_chunk_2.csv
../../../data/processed/joined/usa_tweets_2012_chunk_38.csv
../../../data/processed/joined/usa_tweets_2013_chunk_1.csv
../../../data/processed/joined/usa_tweets_2014_b_chunk_3.csv
../../../data/processed/joined/usa_tweets_2011_chunk_14.csv
../../../data/processed/joined/usa_tweets_2014_a_chunk_7.csv
../../../data/processed/joined/usa_tweets_2014_b_chunk_17.csv
../../../data/processed/joined/usa_tweets_2012_chunk_31.csv
../../../data/processed/joined/usa_tweets_2012_chunk_15.csv
../../../data/processed/joined/usa_tweets_2014_a_chunk_29.csv